.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 50px auto;
    border: 3px solid #857840;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(180deg, #ffd413, #ffbb00);
}

@media (max-width: 500px) {
    .form-title {
        text-align: center;
    }
}

.auth-form > .logo {
    margin: 0 auto;
}

.auth-form > .logo > img {
    height: 130px;
    width: 145px;
    transition: 0.3s;
}

.auth-form > .logo > img:hover {
    transform: matrix3d(1,0,0.00,0.001,0.00,1,0.00,0,0,0,1,0,0,1,0,1);
    -webkit-transform: matrix3d(1,0,0.00,0.001,0.00,1,0.00,0,0,0,1,0,0,1,0,1);
    transition: 0.3s;
}

.password-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
}

.password-wrapper > input {
    width: 100%;
    margin-left: 0;
}

.form-title {
    margin: 5px 20px;
    color: #466468;
}

.form-error {
    color: red;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    margin: 5px auto;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-inline: 20px;
    font-weight: 700;
    font-size: 14px;
}

.form-input {
    margin: 0px 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #466468;
    color: white;
    border: 2px solid black;
    border-radius: 7px;
    letter-spacing: 1.5px;
    outline: none;
    transition: 0.2s;
}

::placeholder { 
    color: rgb(221, 221, 221);
    opacity: 1;
}

.form-submit {
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px auto;
    background-color: #1c3d4d;
    color: rgb(255, 208, 0);
    transition: 0.2s;
}

.form-submit:hover {
    background-color: #466468;
    transition: 0.2s;
}

.form-link {
    font-size: 14px;
    color: #466468;
    font-weight: 700;
}

.link-wrapper {
    font-size: 14px;
    font-weight: 500;
    margin: 20px;
    margin-top: 10px;
}


.show-password-button {
    background-color: transparent;
    border: none;
    color: #466468;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.show-password-button:hover {
    color: #1c3d4d;
    transition: 0.2s;
}